<div id="<%= dom_id post %>" class="post-container">
  <p>
    <%= post.title %>
  </p>
  <% post.images.each do |image| %>
    <%= image_tag(image, style: "object-fit-cover; width: 300px; heigth: 600px") %>
  <% end %>

  <p>
    <%= post.description %>
  </p>

  <p>
    <%= post.keywords %>
  </p>

  <p>
    <%= link_to "", post, class: "post-link" %>
  </p>
</div>
  <p>
    <%= link_to post.user.email, post.user%>
  </p>