<%= stylesheet_link_tag("post") %>
  <p style="color: green"><%= notice %></p>
<div class="row">
  <div class="red">
    <% if user_signed_in? %>
      <% current_user.follow_requests.each do |request| %>
        <%= request.followerable.email %> Wants to follow you
        <%= button_to "Accept", accept_path(request.followerable) %>
        <%= button_to "Decline", decline_path(request.followerable) %>
      <% end %>
      Followers
      <% current_user.followers.each do |follower| %>
        <p><b><%= link_to follower.username, follower %></b></p>
      <% end %>
      Following
      <% current_user.following.each do |following| %>
        <p><%= link_to following.username, following %></p>
      <% end %>
    <% end %>
  </div>
  <div id="posts" class="text-center">
    <% @posts.each do |post| %>
      <%= render post %>
    <% end %>
  </div>
</div>