<div class="row">
  <div class="col-6 m-auto mt-4 mb-4">
    <p style="color: green"><%= notice %></p>
    <%= render @post %>
    <%= link_to "Back to posts", posts_path %>
    <% if user_signed_in? %>
      <% if current_user.id == @post.user.id %>
      <div>
        <%= link_to "Edit this post", edit_post_path(@post) %> |
        <%= button_to "Destroy this post", @post, method: :delete %>
      </div>
      <% end %>
    <% end %>
    <%= render "comments/form" %>
  </div>
</div>

